body { 
    background: rgb(250, 234, 232); 
    font-family: 'Times New Roman', Times, serif
}

.assignment{
    display:flex;
    padding:10px;
    margin: 10px;
    background: lightgreen;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 5px 10px lightgray;
}

.assignment img {
    width:200px; 
    border: 2px salmon;
    margin-right: 20px;
    border-radius: 5px;
}
h1 {
    color: purple;
    text-align: center
}

a {
    text-decoration: none;
    color: black 
}

.assignment a:hover {
    color: darkgray;
}